table, tbody, tfoot, thead, tr, th, td{
	margin: 0;
	padding: 0;
}

main{
  display: flex;
}

h1{
  text-align: center;
  color: #551a8b;
}

#showForm{
  margin-bottom: 30px;
  background-color: #bbb;
  border-style: none;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  color: #551a8b;
  box-shadow: 3px 3px #9c9c9c;
  cursor:pointer;
}

#showForm:hover{
  opacity: 0.9;
  font-weight: bold;
  box-shadow: 2px 2px #9c9c9c;
}

form{
  display: none;
  background-color: #bbb;
  width: 80%;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  box-shadow: 3px 3px #9c9c9c;
  color: #551a8b;
}

#addBook, #cancelBook, #form-status{
  color: #551a8b;
  border-radius: 5px;
}

#form-section{
  width: 20%;
  text-align: center;
}

#library{
  width: 80%;
}

table{
  width: 95%;
  border-spacing: 0px;
}

thead{
  background-color: #bbb;
}

td{
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
}

th{
  color: #551a8b;
}

#table-author{
  border-top-left-radius: 25px;
}

#table-delete{
  border-top-right-radius: 25px;
}

tr{
  height: 30px;
}

tr:nth-child(even){
  background-color: #c6deff;
}

#table-author{
  width: 20%;
}

#table-title{
  width: 40%;
}

#table-pages{
  width: 8%;
}

#table-status{
  width: 15%;
}

.button-status{
  border-style: none;
  outline: none;
  background-color: inherit;
  cursor:pointer;
}

.button-delete{
  border-style: none;
  outline: none;
  background-color: #f27e7e;
  border-radius: 5px;
  padding: 3px;
  font-weight: bold;
  cursor:pointer;
}

#bookNumber{
  margin-top: 20px;
  display: block;
  color: #551a8b;
  font-weight: bold;
  padding: 10px;
}

@media (max-width: 1200px) {
  form{
    width: 90%;
  }
}

@media (max-width: 1100px) {
  form{
    width: 95%;
  }
}

@media (max-width: 1000px) {
  form{
    width: 200px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -100px;
  }
  #showForm{
    padding: 5px;
    font-size: 10px;
    margin-right: 5px;
  }
  #bookNumber{
    font-size: 12px;
    padding: 10px;
  }
  #table-author{
    border-top-left-radius: 5px;
  }
  #table-delete{
    border-top-right-radius: 5px;
  }
  h1{
    font-size: 20px;
  }
}